.dark {
	background-color: #333;
}

.anti-dark {
	background-color: #bbb;
}

.text-dark{
	color: #bbb;
	font-family: 'Helvetica Neue', Arial, sans-serif;
}

.text-anti-dark{
	color: #333;
	font-family: 'Helvetica Neue', Arial, sans-serif;
}

.text-light{
	color: #333;
	font-family: 'Helvetica Neue', Arial, sans-serif;
}

.text-anti-light{
	color: #bbb;
	font-family: 'Helvetica Neue', Arial, sans-serif;
}

.anti-light{
	background-color: #333;
}

.light {
	background-color: #bbb;
}

.center-text{
	text-align: center;
}

.whole-screen{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.center{
	text-align: center;
}

.header{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;

	height: 60px;
	background-color: #444;
}
.header-offset{
	width: 100%;
	top: 0;
	left: 0;

	height: 60px;
	background-color: #444;
}

.vertical-container{
	display: table;
}

.vertical-element{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

#switchColors-button {
	width: 50px;
	height: 40px;
	position: absolute;

	top: 12%;
	left: 100%;

	margin-left: -60px;

	border: 2px red solid;
	border-radius: 20px;
}

.game-square {
	width: 60px;
	height: 60px;
	border: 2px solid;
	margin: 2px;
	display: inline-block;
	line-height: 60px;
}

.invalid-word-text{
	color: #f44;
}

.key{
	width: 30px;
	height: 60px;
	margin: 2px;
	display: inline-block;
	line-height: 60px;
	background-color: #818384;
	color: #000;

	border-radius: 10px;
	font-size: 15px;
	font-family: 'Helvetica Neue', Arial, sans-serif;
}

.side-key {
	width: 45px;
	font-size: 12px;
}

#keyboard{
	position: absolute;
	bottom: 10px;

	left: 50%;

	margin-left: -168px;
}

@media (max-width: 600px){
	.game-square{
		width: 45px;
		height: 45px;
		line-height: 45px;
	}

	.key{
		width: 32px;
	}

	.side-key{
		width: 48px;
	}

	#keyboard{
		margin-left: -180px;
	}
}
.top-margin{
	width: 100px;
	height: 10px;
}

.game-square-align{
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.anti-dark-border{
	border-color: #bbb;
}

.anti-light-border{
	border-color: #333;
}

.game-square-text{
	font-size: 30px;
	font-weight: bold;
	font-family: 'Helvetica Neue', Arial, sans-serif;
}

.new-game-button{
	width: 163px;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 12px;
	display: inline-block;
}

.key-colored-text{
	color: #bbb;
}

.wrong-letter{
	background-color: #555;
}

.out-of-place-letter {
	background-color: #b59f3b; 
}

.correct-letter {
	background-color: #538d4e;
}

.answer-box{
	position: absolute;
	width: 200px;
	height: 20px;

	margin-top: -10px;
	margin-left: -100px;

	top: 30%;
	left: 50%;

	border-radius: 12px;
	border: 2px solid;
	border-color: red;
	display: none;
	padding: 5px;
}

.settings-container{
	position: absolute;
	width: 300px;
	height: 450px;
	margin-top: -225px;
	margin-left: -150px;
	
	top: 50%;
	left: 50%;

	border-radius: 20px;
	border: 2px solid;
	border-color: red;
	
	display: none;
}

#settings-title{
	position: absolute;

	top: 0%;
	margin-top: 10px;
	left: 35%; 
}

#settings-close-button{
	position: absolute;
	width: 20px;
	height: 20px;

	margin-left: -30px;
	margin-top: 10px;
	left: 100%;

	font-size: 20px;
	font-weight: bold;
}

#settings-icon{
	position: absolute;

	width: 50px;
	height: 50px;

	left: 100%;
	top: 0;
	margin-top: 5px;
	margin-left: -55px;
}

#hard-mode-button{
	position: absolute;

	width: 100px;
	height: 40px;

	line-height: 40px;

	border: 2px red solid;
	border-radius: 12px;

	left: 10px;
	top: 12%;
}

.answer-box-display{
	display: block;
}

.disable-select{
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select:none;
	-ms-user-select: none;
	-moz-user-select: none;
}

.disable-dbl-tap-zoom {
	touch-action: manipulation;
  }

